h1 {
  font-size: 2em;
}
.title{
  display: flex;
  justify-content: center;
}
nav{
  display:flex;
  flex-direction: row;
  justify-items: right;
  align-items: right;
  height: 50px;
  border-style: solid;
  border-color: black;
}
.navbar_item{
  display:flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
}
.navbar_sub_item{
  border-style: solid;
  border-color:red;
}
.panel_row{
  display:flex;
  flex-direction: column;
}
.panel_row input {
  width: 200px;
}
.panel_row button{
  width: 205px;
}
.button{
  width: 50px;
  max-height: 20px;
}
.product-title {
  font-weight: bold;
  font-size: 1.2em;
}

.product-id {
  font-size: .8em;
  margin: 1em 0;
}

.product-edit-icon {
  opacity: .7;
  position: absolute;
  right: 2.3rem;
  top: .4rem;
}

.product-edit-icon:hover {
  opacity: 1;
}
.features {
  padding-bottom: 3em;
}

body {
  visibility: visible !important;
}


.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.buttons {
  margin-left: 1em;
}